<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS} %l %m%n" />
		</layout> <!--限制输出级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<!-- <param name="LevelMin" value="DEBUG" />  -->
		</filter>
	</appender>
	<appender name="errorLog" class="org.apache.log4j.FileAppender">
		<param name="File" value="/app/logs/reha_log.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d|[%t]|%-5p|%c| - %m%n" />
		</layout>
	</appender>
	
	<logger name="com.ibatis" additivity="true">
	  <level value="debug" />
	 </logger>
	
	<root>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="errorLog" />
	</root>
</log4j:configuration>