<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
			http://www.springframework.org/schema/task  
			http://www.springframework.org/schema/task/spring-task-3.2.xsd 
			">
	
	<!-- 默认的注解映射的支持 -->
	<!-- <mvc:annotation-driven /> -->
	<mvc:view-controller path="/"/>
	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="com.cz.coder.web.dao,com.cz.coder.web.dao.impl,com.cz.coder.web.web.controller,
		com.cz.coder.web.service,com.fq.sms,com.fq.domain,ibatis.mapping,
		com.cz.coder.util,com.cz.coder.common.spsysinfo,com.cz.coder.common.dao" />
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>
		
	<!-- 获取配置文件 -->  
    <bean id="config"  
       class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
       <property name="locations">  
           <list>  
            <!--   <value>classpath:mysql.properties</value>   -->
              <value> file:/data/cz/coder/resource/web/jdbc.properties</value>
              <value> file:/data/cz/coder/resource/web/Global.properties</value>
           </list>  
       </property>  
    </bean>
		
	<import resource="spring-mvc.xml"/>
	
	<import resource="spring-dao.xml"/>
	
	<import resource="spring-message.xml"/>
	
</beans>