@CHARSET "UTF-8";

html{
	height:100%;
}

body{
	height:100%;
	margin:0px;
	line-height:18px;
	font:12px "微软雅黑", Arial, "宋体";
	background:#fff;

}

ul,ol,li{ /* 设置列表默认值 */
	margin:0;
	padding:0;
	list-style:none;
}

img{ /* 设置所有图片无边框 */
	border:none;
}

a:link,a:visited{ /* 未选中的链接 */
	text-decoration:none;
	color:#000;
}

a.link {
	cursor: pointer;
	color: #355798;
	text-decoration: none;
}

a:hover,a:active{ /*未选中的链接 */
	text-decoration:none;
	color:#00F;
}


h1{ /*标题1 */
	font-size:18px;
	font-weight:bold;
}

h2{ /*标题2 */
	font-size:14px;
	font-weight:bold;
}

/************** 框架定义 ****************/

#container{ /*页面框架层 */
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*margin: 0 auto -10px;  margin-bottom 为减去底部浮动层的高度 */
	padding: 0px;
}

.header{ /*页面头部框架 */
	width:100%;
	height:55px;
	line-height:55px;
	background:#1A1A1A;
}

#content{ /*内容框架 */
	width:100%;
	height: 100%;
	padding: 0px;
	border: 0;
}

/* frame */
.iframeStyle {
	position: absolute;
	padding : 0;
	border: 0px;
	text-align:center;
}

.top-info-wrap{
	float:right;
}

.top-info-list li{
	float:left;
}
.top-info-list li a{
	float:left;
	margin-left:5px;
	padding:0 20px;
	display:inline;
	zoom:1;
}
.top-info-list li a:hover{
	background:#343434;
}

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{
	*height:1%;
}

.white,.white a:link,.white a:visited{
	color:#fff;
}
.white a:hover{
	color:#ff0;
}

.topbar-inner{
	font-size:18px;
	padding:0 20px;
}

.topbar-logo-wrap{
	float:left;
}

.topbar-logo{
	float:left;
	width:150px;
	text-align:center;
}

.none{
	display:none;
}

.navbar-list{
	float:left;
}

.navbar-list li{
	float:left;
}
.navbar-list li a{
	float:left;
	margin-right:5px;
	padding:0 25px;
	text-shadow:1px 1px 1px #000;
}
.navbar-list li a:hover{
	background:#343434;
}
.navbar-list li a.on{
	color:#fff;
	text-shadow:1px 1px 1px #003;
	background:#033b70;
}

#mypage {
	width:100%;
}
.pages{
	text-align:center;
}

.pages input,.pages select{
	border:1px solid #999;
	color:#666;
}	
.mypagination{
	height:30px;
}
.mypagination span{
	font-size:12px;
}
.page-first,.page-prev,.page-next,.page-last,.page-wait{
	padding:4px;
	border:0;
}
.page-num{
	width:30px;
	border:1px solid #ccc;
	min-width: 40px;
}
.hide {
	display: none;
}