@charset "utf-8";
/* CSS Document 首页 */
.index1_box {
	width: 1210px;
	margin: 0 auto;
}
.index1_l {
	width: 250px;
	float: left;
	background: #009a44;
	display: inline;
	position: relative;
	z-index: 1;
	margin-right:21px;
}
.index1_l ul li {
	padding: 20px 15px;
	height:71px;
	cursor:pointer;
}

.index1_l ul li:hover{background:#008039;}

.index1_l ul li p {
	font-size: 16px;
	color: #fff;
	line-height:19px;
	padding-bottom:5px;
}
.index1_l ul li p span {
	display: block;
	width: 20px;
	height: 19px;
	float: left;
	margin-right: 5px;
	clear:both;
}
.index1_l ul li p i{float:left;}
.index1_l ul li p span.span1 {
	background: url(../images/coin1.png) no-repeat;
}
.index1_l ul li p span.span2 {
	background: url(../images/coin2.png) no-repeat;
}
.index1_l ul li p span.span3 {
	background: url(../images/coin3.png) no-repeat;
}
.index1_l ul li p span.span4 {
	background: url(../images/coin4.png) no-repeat;
}
.index1_l ul li .p_a {
	
	line-height: 25px;

}
.index1_l ul li p.p_a a {
	font-size: 12px;
	color: #bfd9ca;
	display:inline;
	padding-right:3px;
	*padding-right:0px;
}

.index1_m {
	float: left;
	width: 707px;
	height: 421px;
	overflow: hidden;
	margin-top: 23px;
	position: relative;
}
.banner {
	width: 707px;
	height: 421px;
}
.banner img {
	width: 707px;
	height: 421px;
}
.banner_a {
	position: absolute;
	bottom: 20px;
	margin: 0 auto;
	left: 300px;
}
.banner_a a {
	width: 16px;
	height: 16px;
	display: block;
	background: #fff;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.banner_a a.selected {
	background: url(../images/coin5.png) no-repeat;
}
.banner_a a span {
	display: none;
}
.index1_r {
	float: left;
	width: 210px;
	float: right;
	margin-top: 23px;
}
.index1_r .index1_r_t {
	height: 40px;
	background: #f1f1f1;
	line-height: 40px;
	font-size: 14px;
	padding-left: 10px;
}
.index1_r .index1_r_t a{font-size:14px;}
.index1_r .index1_r_m {
	background: #fff;
	padding-bottom: 10px;
}
.index1_r .index1_r_m a {
	line-height: 20px;
	border-bottom: 1px dashed #e3e3e3;
	display: block;
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 12px;
	padding-bottom: 10px;
}
.index1_r .index1_r_m a span {
	color: #009a44;
	width:186px;
	height:20px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.index1_r_m2 {
	background: #fff;
	padding-top: 7px;
	padding-left: 12px;
	padding-bottom: 8px;
}
.index1_r_m2 a {
	line-height: 25px;
	display: block;
}
.index1_r_m2 a:hover {
	color: #009a44;
}

.index_xz1{width:1210px; height:135px; background:#fff; margin:0 auto; margin-top:20px;}
.index_xz1 ul li{float:left; width:270px; padding-left:30px; color:#888888; line-height:19px; padding-top:38px;}
.index_xz1 ul li img{float:left; padding-right:5px;}
.index_xz1 ul li span{font-size:18px; color:#3c3c3c;}

.index2_box {
	width: 1210px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.index2_title {
	font-size: 14px;
	padding-top: 30px;
	padding-left: 5px;
	padding-bottom: 15px;
}
.index2_title span {
	font-size: 24px;
}
.index2_box .index2_m .index2_m_l {
	float: left;
	width: 960px;
	background: #fff;
	padding: 10px 9px 30px 8px;
}
.index2_box .index2_m .index2_m_l ul li {
	float: left;
	width: 200px;
	padding: 20px;
	line-height: 25px;
	height: 260px;
	position:relative;
	color:#888888;
}
.index2_box .index2_m .index2_m_l ul li .sj_img {
	display: block;
	margin-bottom: 10px;
}
.index2_m_l .pro_title{
	display: block;
	background:#f00;
}
.index2_m_l .pro_title em{float:left; font-size:14px; color:#333333;}
.index2_m_l .v_img{float:left; padding-left:5px; cursor:pointer; padding-right:10px;}

.index2_box .index2_m .index2_m_l ul li span {
	width: 10px;
	height: 13px;
	display: block;
	float: left;
	background: url(../images/coin_03.jpg) no-repeat;
	margin-top: 6px;
}
.index2_box .index2_m .index2_m_l ul li i {
	color: #f00;
}
.fws_tck{width:300px; height:280px; border:1px solid #f5f5f5; background:#fff; float:left; position:absolute; z-index:100; zoom:1; top:240px; left:195px; padding:20px; line-height:28px; display:none;}
.fws_tck h1{font-size:18px; font-weight:normal; padding-bottom:25px;}

.index_fy {
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.index_fy a {
	display: block;
	padding: 5px 12px;
	border: 1px solid #ccc;
	float: left;
	margin-left: 5px;
	margin-top: 20px;
}
.index2_box .index2_m .index2_m_r {
	width: 190px;
	float: right;
	background: #fff;
	height: 900px;
	padding:10px;
}
.index2_box .index2_m .index2_m_r p{font-size:16px; padding-top:6px; padding-left:3px; padding-bottom:15px;}
.index2_box .index2_m .index2_m_r .r_in{width:180px; height:36px; border:1px solid #e3e3e3; border-left:2px solid #e3e3e3; margin-top:10px; padding-left:6px;}
.index2_box .index2_m .index2_m_r .r_text{width:180px; height:95px; border:1px solid #e3e3e3; border-left:2px solid #e3e3e3; padding-left:6px; margin-top:10px;}
.index2_box .index2_m .index2_m_r a.r_btn{width:188px; height:40px; display:block; background:#009a44; line-height:40px; text-align:center; color:#fff; margin-top:10px; margin-bottom:25px;}
.index2_box .index2_m .index2_m_r .r_a a{display:block; padding-bottom:15px; line-height:18px;}

.index2_box .index2_m2 .index2_m2_l {
	float: left;
	width: 937px;
	background: #fff;
	padding: 12px 20px;
}

.index2_box .index2_m2 .index2_m2_l table th{font-weight:normal; color:#888888; height:50px;}
.index2_box .index2_m2 .index2_m2_l table th.td_left{text-align:left;}
.index2_box .index2_m2 .index2_m2_l table td{height:46px; border-bottom:1px dashed #e3e3e3; text-align:center;font-size:12px;white-space: nowrap;}
.index2_box .index2_m2 .index2_m2_l table td.td_left{text-align:left; font-size:14px;}
.index2_box .index2_m2 .index2_m2_l table td span{color:#039b46;font-size:12px;}
.index2_box .index2_m2 .index2_m2_l table td i{color:#8d8d8d;font-size:12px;}
.index2_box .index2_m2 .index2_m2_l table td p{width:75px; height:6px; display:block; float:left; background:#e3e3e3; margin-top:4px;}
.index2_box .index2_m2 .index2_m2_l table td p em{height:6px; display:block; background:#039b46; float:left;}
.index2_box .index2_m2 .index2_m2_l table td b{color:#ff0000; font-weight:normal; padding-left:5px;}

.index2_box .index2_m2 .index2_m2_r {
	width: 210px;
	float: right;
	background: #fff;
	height: 545px;
}

.index2_box .index2_m2 .index2_m2_r p{font-size:18px; color:#000000; padding-top:15px; padding-left:15px;}
.index2_box .index2_m2 .index2_m2_r .index2_m2_m{width:185px; height:480px; margin:0 auto; background:url(../images/m_coin_03.jpg) top left no-repeat; margin-top:35px;}
.index2_box .index2_m2 .index2_m2_r .index2_m2_m ul li{padding-left:60px; height:16px; line-height:16px; display:inherit;}

.banner {
	width: 100%;
	height: 350px;
	background: #0e0b0e;
}
.banner_tp {
	height: 350px;
	width: 1210px;
	margin: 0 auto;
	background: url(../images/banner_03.jpg) top no-repeat;
}
.banner_tp .banner_m {
	width: 480px;
	height: 260px;
	padding-top: 46px;
}
.banner_tp .banner_m .banner_m_l {
	width: 180px;
	height: 260px;
	float: left;
}
.banner_tp .banner_m .banner_m_l a {
	width: 175px;
	height: 100px;
	display: block;
	background: #393939;
	text-align: center;
	font-size: 16px;
	color: #fff;
	padding-top: 27px;
}
.banner_tp .banner_m .banner_m_l a span {
	width: 50px;
	height: 43px;
	display: block;
	margin: 0 auto;
	background: url(../images/type.png) no-repeat;
	margin-bottom: 10px;
}
.banner_tp .banner_m .banner_m_l a.m_a1 {
	margin-bottom: 6px;
}
.banner_tp .banner_m .banner_m_l a.m_a2 {
	width: 180px;
	background: #2a2a2a;
}
.banner_tp .banner_m .banner_m_r {
	width: 300px;
	height: 260px;
	background: #2a2a2a;
	float: left;
}
.banner_tp .banner_m .banner_m_r #banner_m1 .banner_m_r11 {
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	padding-top: 20px;
	line-height: 25px;
}
.banner_tp .banner_m .banner_m_r #banner_m1 .banner_m_r11 a {
	display: block;
	border: 2px solid #ffffff;
	width: 155px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	margin-top: 15px;
}
.banner_tp .banner_m .banner_m_r #banner_m1 .banner_m_r12 {
	padding-left: 20px;
	padding-top: 10px;
}
.banner_tp .banner_m .banner_m_r #banner_m1 .banner_m_r12 ul li {
	float: left;
	text-align: center;
	padding: 12px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
.banner_tp .banner_m .banner_m_r #banner_m1 .banner_m_r12 ul li span {
	width: 62px;
	height: 62px;
	display: block;
	padding-bottom: 15px;
}
.banner_tp .banner_m .banner_m_r #banner_m1 .banner_m_r12 ul li span.span1 {
	background: url(../images/coin1.jpg) no-repeat;
}
.banner_tp .banner_m .banner_m_r #banner_m1 .banner_m_r12 ul li span.span2 {
	background: url(../images/coin2.jpg) no-repeat;
}
.banner_tp .banner_m .banner_m_r #banner_m1 .banner_m_r12 ul li span.span3 {
	background: url(../images/coin3.jpg) no-repeat;
}
.banner_tp .banner_m .banner_m_r #banner_m2 {
	font-size: 14px;
	color: #fff;
	padding-top: 5px;
}
.banner_tp .banner_m .banner_m_r #banner_m2 select {
	width: 180px;
	height: 40px;
	border: 1px solid #cbcbcb;
}
.banner_tp .banner_m .banner_m_r #banner_m2 table td {
	padding-top: 20px;
}
.banner_tp .banner_m .banner_m_r #banner_m2 table td.td_left {
	width: 80px;
	text-align: right;
	padding-right: 15px;
}
.banner_tp .banner_m .banner_m_r #banner_m2 a {
	width: 176px;
	height: 30px;
	display: block;
	border: 2px solid #ffffff;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
